
.mainZone {
	color: var(--orange0);
	font-size: 2em;
	border-radius: 4px;
	border: 1px solid var(--blue4);
	transition: all 0.3s linear;
	margin: 30px; 
}

.grid-wrapper {
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
	background-image: linear-gradient(to bottom left, var(--orange3), var(--blue4)) ;
	padding: 20px;
}

.box {
	background-color: var(--orange1);
	color: var(--blue2);
	padding: 20px;
	margin: 20px;
	border-radius: 4px;
	font-size: 0.5em;

}

.big {
	grid-column : span 2;
}

.small {
	grid-column: span 1;
	justify-content: center;
}

img {
	max-width: 100%;
	max-height: 100%;
}

@media only screen and (max-width: 667px) {
	.grid-wrapper {
		margin: 20px;
		padding: 5px;
		grid-gap: 5px;
	}
	.box {
		font-size: 0.3em;
		padding: 5px;
	}
	.big {
		grid-column: span 3;
	}
	.small {
		grid-column: span 3;
	}
}
